body {
	text-align: center;
	font-family: "Arial Unicode",monospace;
}


ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}

nav {
	width: 100%;
	border-bottom: 5px double #000000;
}

nav ul {
	background-color: #9c1414;
}

nav li {
	display:inline-block;
	width: 18%;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: #ffffff;
	margin: 15px auto;
	display: block;
	font-size: 2em;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

nav a:hover {
	background-color: #ffffff;
	color: #000000;
	border-radius: 1em;
	text-shadow: none;
}

div{
	display:block;
	text-align: center;
	margin: 5% auto;
}

h1 {
	font-size: 3em;
	margin: 0 auto;
	height: 100px;
}


h2 {
	display: inline;
}

input {
	display: block;
	font-size: 1.5em;
	width: 100%;
	box-sizing: border-box;
}

form {
	text-align: left;
	display: inline-block;
}


#content {
	width: 90%;
	margin: 2% auto;
}

#slideshow {
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 46%, rgba(241,111,92,1) 52%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%,rgba(246,41,12,1) 46%,rgba(241,111,92,1) 52%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%,rgba(246,41,12,1) 46%,rgba(241,111,92,1) 52%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: 0 auto;
}

.articles div {
	border-radius: 5em;
	border: 1px solid #000000;
	position: relative;
}

.articles span {
	position: absolute;
	top: 50px;
	right: 48.664%;
	font-size: 3em;
	z-index: -1
}

.articles div:hover {
	border-radius: 5em;
	border: 1px solid #000000;
	background-color: #9c1414;;
	color: #ffffff;
	cursor: pointer;
	cursor: hand;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size:0;
}

.contact-us ul {
	 margin: 5% auto;
}

.desc {
	display:none;
	box-shadow: 1px 1px 1px 1px #808080;
  border-radius: 1em;
  max-width: 80%;
	margin: 0 auto;
	padding: 30px;
	font-size: 1.5em;
}

.displayContainer{
	max-width: 800px;
	margin:auto;
	position: relative;
	padding: 1% 0;
}

.slideImg{
	display:none;
	width:100%;
	max-height: 500px;
	max-width: 800px;
	margin-top: 6%;
}

.displayBottomIndicator {
	width:100%;
	color:#ffffff;
	margin-top: 16px;
	margin-bottom: 16px;
	position:absolute;
	left:50%;
	bottom:0;
	transform:tranlate(-50%,0%);
	text-align:center;
	font-size:18px;
}

.formButton {
	display: inline-block;
	background-color: #ffffff;
	border-radius: 1em;
	padding: 10px;
	width: 45%;
}

.formButton:hover {
	background-color: #ffffff;
	border-radius: 1em;
}

.left, .right, .indicator {
	cursor:pointer;
	color:#ffffff;
}

.left:hover, .right:hover{
	color:#000000;
}

.left {
	padding-left: 16px;
	float:left;
	font-size: 4em;
    position: absolute;
    bottom: 4em;
    left: -2em;
}

.right{
	padding-right: 16px;
	float:right;
	font-size: 4em;
    position: absolute;
    bottom: 4em;
    right: -2em;
}
.indicator {
	height:16px;
	padding:0;
	color:#ffffff;
	display:inline-block;
	text-align:center;
	padding-left:8px;
	padding-right:8px;
	border-radius:50%;
	background-color: transparent!important;
	border:2px solid #ffffff!important;
	box-shadow: -1px 3px #808080;
}

.selected {
	color: white!important;
	background-color: white!important;
}

@media screen and (max-width: 830px){

nav li {
	display: block;
	margin: 0 auto;
	width: 50%;
}

nav a {
	display: inline-block;
}
}
